.nav323root {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
  top: 0;
  height: 10vh;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: var(--navBar-black);
  /* z-index: 1; */
}

.nav325logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.nav325logo a span {
  color: var(--primary-bright);
}

.nav327menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav327menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.nav894menuIcon
{
  position: relative;
}

.nav327menu:hover a {
  opacity: 0.4;
}

.nav327menu a:hover {
  opacity: 1;
  color: #fff;
}

.nav326checkbox{
  display: none;

}
.nav326icon
{
  display: none;
} 

.nav326checkbox:checked ~ .nav327menu {
  transform: scale(1, 1);
}

.nav326menu {
  transform: scale(0, 0);
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 950px) {
  .nav327menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .nav327menu a {
    margin-left: 12px;
  }

  .nav327menu li {
    margin-bottom: 10px;
  }

  .nav326checkbox {
    display: block;
    position: absolute;
    right:12%;
    height: 10vh;
    align-self: flex-end;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav326icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
