.sp121postBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3%;
  padding-bottom: 0;
  border: 0.5px #c0c0c0 solid;
  border-radius: 2px;
}

.sp123postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sp124postHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 3%;
}

.sp125postHeaderName {
  font-size: 1rem;
  font-weight: 600;
}

.sp126postHeaderUsername {
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.sp127postHeaderDate {
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.sp128postHeaderDate {
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

@media screen and (max-width: 600px) {
  .sp128postHeaderDate {
    display: none;
  }
  
  .sp127postHeaderDate {
    display: none;
  }
}

.sp129postHeaderDots {
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
}

.sp130postText {
  padding: 2%;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sp131postText {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 3%;
  color: #8e8e8e;
}

.sp132postImage {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding: 5%; */
}
.ps933imgPar{
  height: 100%;
  width: 100%;
  /* aspect-ratio: 9/12; */
  position: relative;
}

.sp133postImage {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.sp134postImageOverlay {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* 
.sp135postImageOverlayIcons{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
} */

.sp136postImageOverlayIcon {
  font-size: 1rem;
  font-weight: 400;
  color: #8e8e8e;
  margin: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.sp137iconNumber {
  margin-left: 13px;
}

.sp122profilePic
{
  /* width: 50px;
  height: 50px; */
  border-radius: 10%;
  /* margin-right: 2%; */
}