.gop237gridImage
{
  /* width: 90%; */
  height: 30vw;
  object-fit: cover;
  width: 30vw;
  border-radius: 3px;
  /* margin-left: 5%; */
}



.gop237gridImage:hover
{
  cursor: pointer;
  opacity: 0.8;
  
  scale:1.01;
  transition: all 50ms ease-in-out;
}

@media (max-width: 768px) {
  .gop237gridImage
  {
    width: 40vw;
    height: 40vw;
    /* height: 40vh; */
    object-fit: cover;
    border-radius: 3px;
    /* margin-top: 5vw; */
    /* margin-left: 5%; */
  }
}